.searchTitle {
    font-size: 2rem;
    color: rgb(223, 70, 70);
    text-align: center;
    margin-top: 20px;
}

.list {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
    gap: 32px;
    outline: 1px solid red;
}

.planesItem {
    display: grid;
    gap: 12px;
    padding: 10px;
    /* year до 1946 */
    background-color: #ffdb92;
    /* backgroundColor: '#d2fdbd'; // year  1946 - 1999
           backgroundColor: '#d6f1ff'; // year від 2000 */
    /* backgroundColor: getBgColor(item.info.year); */
    outline: 1px solid grey;
}

/** backgroundColor: '#ffd1d1',  "year" до 1939 - (WWI (1914–1918) + The "Golden Age" of aviation (1918–1939)) */
.planesItemWWIGoldenAge {
    composes: planesItem;
    background-color: #ffd1d1;
}

/** backgroundColor: '#ffdb92',  "year" 1939–1945 - (WWII (1939–1945)) */
.planesItemWWII {
    composes: planesItem;
    background-color: #ffdb92;
}

/** backgroundColor: '#d2fdbd',  "year" 1946-1999 - (Jet age (1946–1999)) */
.planesItemJetAge {
    composes: planesItem;
    background-color: #d2fdbd;
}

/** backgroundColor: '#d6f1ff',  "year" від 2000 - (Нинішнє століття (2000-до наших днів)) */
.planesItemCurrentAge {
    composes: planesItem;
    background-color: #d6f1ff;
}