.title {
    margin-bottom: 24px;
    font-size: 48px;
    text-align: center;
    color: darkred;
}

.robotoBold {
    font-family: "Roboto", cursive;
    font-weight: 700;
    font-style: normal;
    color: darkgreen;
}

.titleRobotoBold {
    composes: robotoBold;
    margin-bottom: 24px;
    font-size: 48px;
    text-align: center;
    color: darkred;
}

.titleTotalTypes {
    color: rgb(174, 174, 174);
    text-align: center;
    margin-bottom: 10px;
}

.titleTotaModals {
color: rgb(174, 174, 174);
text-align: center;
margin-bottom: 30px;
}